{% comment %}
  Header utility icons — Search, Cart, Account
  SVG paths from prototypes/assets (Figma node 2020:52, 40×40 viewBox)
{% endcomment %}

<a href="{{ routes.search_url }}" class="icon-btn" aria-label="Search">
  <svg class="icon-search" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
    <path d="M31 28.5C31 30.5 29 30.5 29 30.5L23.2786 24.7786C21.7947 25.8567 19.9745 26.5 18 26.5C13.0294 26.5 9 22.4706 9 17.5C9 12.5294 13.0294 8.5 18 8.5C22.9706 8.5 27 12.5294 27 17.5C27 19.4745 26.3567 21.2946 25.2786 22.7786L31 28.5ZM18 12C14.9624 12 12.5 14.4624 12.5 17.5C12.5 20.5376 14.9624 23 18 23C21.0376 23 23.5 20.5376 23.5 17.5C23.5 14.4624 21.0376 12 18 12Z" fill="currentColor"/>
  </svg>
</a>
<a href="{{ routes.cart_url }}" class="icon-btn" aria-label="Cart">
  <svg class="icon-cart" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
    <path d="M27.778 13.4757H25.5555C25.5555 10.4532 23.067 8 20.0003 8C16.9337 8 14.4451 10.4532 14.4451 13.4757H12.2226C11.0008 13.4757 10.0121 14.4617 10.0121 15.6665L10 28.8092C10.0013 29.3895 10.2358 29.9456 10.6522 30.3561C11.0687 30.7666 11.6333 30.9981 12.2226 31H27.7774C28.3667 30.9981 28.9313 30.7666 29.3478 30.3561C29.7642 29.9456 29.9987 29.3895 30 28.8092V15.6671C29.9987 15.0868 29.7642 14.5307 29.3478 14.1202C28.9313 13.7097 28.3667 13.4782 27.7774 13.4763L27.778 13.4757ZM20.0003 10.1902C20.4385 10.1898 20.8724 10.2745 21.2773 10.4395C21.6821 10.6045 22.05 10.8466 22.3597 11.1518C22.6693 11.457 22.9148 11.8194 23.0821 12.2181C23.2493 12.6169 23.3349 13.0443 23.3341 13.4757H16.6665C16.6657 13.0443 16.7513 12.6169 16.9186 12.2181C17.0858 11.8194 17.3313 11.457 17.641 11.1518C17.9507 10.8466 18.3185 10.6045 18.7233 10.4395C19.1282 10.2745 19.5621 10.1898 20.0003 10.1902ZM20.0003 21.1428C16.9337 21.1428 14.4451 18.6895 14.4451 15.6659H16.6671C16.6662 16.0974 16.7518 16.5248 16.919 16.9236C17.0862 17.3225 17.3316 17.6849 17.6413 17.9902C17.9511 18.2955 18.3189 18.5376 18.7238 18.7026C19.1287 18.8677 19.5627 18.9524 20.0009 18.952C20.439 18.9522 20.8728 18.8674 21.2775 18.7023C21.6822 18.5372 22.0499 18.2952 22.3595 17.99C22.669 17.6848 22.9144 17.3225 23.0816 16.9238C23.2487 16.5251 23.3343 16.0978 23.3335 15.6665H25.5561C25.5561 18.6895 23.067 21.1428 20.0003 21.1428Z" fill="currentColor"/>
  </svg>
</a>
<a href="{{ routes.account_url }}" class="icon-btn" aria-label="Account">
  <svg class="icon-user" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
    <path d="M31 27.867C31 28.5474 30.725 29.5 29.4874 29.5C28.6625 29.5 11.3374 29.5 10.5125 29.5C9.27493 29.5 9 28.5474 9 27.867C9 25.5536 11.0625 22.2878 14.7749 22.2878C14.7749 22.2878 15.875 24.0568 20 24.0568C24.125 24.0568 25.225 22.2878 25.225 22.2878C28.9375 22.2878 31 25.5536 31 27.867ZM20.121 9.5C16.9344 9.5 14.3512 12.3579 14.3512 15.8832C14.3512 19.4086 16.9344 22.2665 20.121 22.2665C23.3076 22.2665 25.8908 19.4086 25.8908 15.8832C25.8908 12.3579 23.3076 9.5 20.121 9.5Z" fill="currentColor"/>
  </svg>
</a>
